### GitHub on Hacker News trends analysis

In [3]:
import pandas as pd

In [6]:
project_id = "learning-291810"
process_date = "2018-12-01"
process_date_nodash = "20181201"

In [11]:
query = """
SELECT 
  type,
  COUNT(*) AS cnt
FROM `githubarchive.day.{0}` 
GROUP BY 1
ORDER BY 2 DESC
""".format(process_date_nodash)

print (query)

df = pd.read_gbq(query, project_id=project_id, dialect='standard')
df.head(20)

SELECT
  type,
  COUNT(*) AS cnt
FROM `githubarchive.day.20181201`
GROUP BY 1
ORDER BY 2 DESC

Downloading: 100%|██████████| 14/14 [00:01<00:00,  9.46rows/s]

                             type     cnt
0                       PushEvent  588724
1                     CreateEvent  155010
2                      WatchEvent   67607
3                PullRequestEvent   56635
4               IssueCommentEvent   46972
5                     IssuesEvent   27592
6                       ForkEvent   24331
7                     DeleteEvent   22590
8   PullRequestReviewCommentEvent    9756
9                     MemberEvent    5201
10                    GollumEvent    4445
11                   ReleaseEvent    3527
12             CommitCommentEvent    1759
13                    PublicEvent    1064

In [10]:
### Global air quality dataset

In [7]:
query = """
        SELECT DISTINCT country
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE unit = 'ppm'
        """

print (query)

        SELECT DISTINCT country
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE unit = 'ppm'

In [8]:
df = pd.read_gbq(query, project_id=project_id, dialect='standard')

Downloading: 100%|██████████| 21/21 [00:01<00:00, 14.26rows/s]

In [9]:
df

   country
0       US
1       CL
2       AU
3       BM
4       MX
5       AE
6       NP
7       CH
8       UZ
9       CA
10      GB
11      IL
12      TW
13      CO
14      TH
15      BR
16      PE
17      AR
18      ZA
19      BH
20      CW