In [1]:
import pandas as pd

#### Dataset: openaq
#### Table: global_air_quality

Which countries have reported pollution levels in units of "ppm"? In the code cell below, set first_query to an SQL query that pulls the appropriate entries from the country column

In [4]:
query = """
    SELECT 
    from `bigquery-public-data.apenaq.global_air_quality`
    where country = 'US'
    """
print (query)

    SELECT
    from `bigquery-public-data.apenaq.global_air_quality`
    where country = 'US'

In [5]:
query = """
    SELECT 
    from `bigquery-public-data.apenaq.global_air_quality`
    where unit = 'ppm'
    """
print (query)

    SELECT
    from `bigquery-public-data.apenaq.global_air_quality`
    where unit = 'ppm'

### Standara SQL

```
query_statement:
    query_expr

query_expr:
    [ WITH with_query_name AS ( query_expr ) [, ...] ]
    { select | ( query_expr ) | query_expr set_op query_expr }
    [ ORDER BY expression [{ ASC | DESC }] [, ...] ]
    [ LIMIT count [ OFFSET skip_rows ] ]

select:
    SELECT [ AS { STRUCT | VALUE } ] [{ ALL | DISTINCT }]
        { [ expression. ]* [ EXCEPT ( column_name [, ...] ) ]
            [ REPLACE ( expression [ AS ] column_name [, ...] ) ]
        | expression [ [ AS ] alias ] } [, ...]
    [ FROM from_item  [, ...] ]
    [ WHERE bool_expression ]
    [ GROUP BY { expression [, ...] | ROLLUP ( expression [, ...] ) } ]
    [ HAVING bool_expression ]
    [ WINDOW named_window_expression AS { named_window | ( [ window_definition ] ) } [, ...] ]

set_op:
    UNION { ALL | DISTINCT } | INTERSECT DISTINCT | EXCEPT DISTINCT

from_item: {
    table_name [ [ AS ] alias ] [ FOR SYSTEM_TIME AS OF timestamp_expression ]  |
    join |
    ( query_expr ) [ [ AS ] alias ] |
    field_path |
    { UNNEST( array_expression ) | UNNEST( array_path ) | array_path }
        [ [ AS ] alias ] [ WITH OFFSET [ [ AS ] alias ] ] |
    with_query_name [ [ AS ] alias ]
}

join:
    from_item [ join_type ] JOIN from_item
    [ { ON bool_expression | USING ( join_column [, ...] ) } ]

join_type:
    { INNER | CROSS | FULL [OUTER] | LEFT [OUTER] | RIGHT [OUTER] }



```

Notation rules

- Square brackets "[ ]" indicate optional clauses.
- Parentheses "( )" indicate literal parentheses.
- The vertical bar "|" indicates a logical OR.
- Curly braces "{ }" enclose a set of options.
- A comma followed by an ellipsis within square brackets "[, ... ]" indicates that the preceding item can repeat in a comma-separated list.

---

Which pollution levels were reported to be exactly 0?

- Set zero_pollution_query to select all columns of the rows where the value column is 0.
- Set zero_pollution_results to a pandas DataFrame containing the query results.

In [7]:
zero_pollution_query = """
    SELECT 
    from `bigquery-public-data.apenaq.global_air_quality`
    where value = 0
    """
print (zero_pollution_query)

    SELECT
    from `bigquery-public-data.apenaq.global_air_quality`
    where value = 0

In [ ]:
## Not experimenting too much with querying for these simple queries to remain withing quota limitations.