In [1]:
import pandas as pd

#### Dataset: chicago_taxi_trips
#### Table: taxi_trips

### 3) Determine when this data is from

If the data is sufficiently old, we might be careful before assuming the data is still relevant to traffic patterns today. Write a query that counts the number of trips in each year.  

Your results should have two columns:
- `year` - the year of the trips
- `num_trips` - the number of trips in that year

Hints:
- When using **GROUP BY** and **ORDER BY**, you should refer to the columns by the alias `year` that you set at the top of the **SELECT** query.
- The SQL code to **SELECT** the year from `trip_start_timestamp` is <code>SELECT EXTRACT(YEAR FROM trip_start_timestamp)</code>
- The **FROM** field can be a little tricky until you are used to it.  The format is:
    1. A backick (the symbol \`).
    2. The project name. In this case it is `bigquery-public-data`.
    3. A period.
    4. The dataset name. In this case, it is `chicago_taxi_trips`.
    5. A period.
    6. The table name. You used this as your answer in **1) Find the data**.
    7. A backtick (the symbol \`).

In [1]:
query = """
    SELECT EXTRACT(YEAR FROM trip_start_timestamp) as year, COUNT(1) as num_trips
    from `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    group by year
    order by year DESC
    """
print (query)

    SELECT EXTRACT(YEAR FROM trip_start_timestamp) as year, COUNT(1) as num_trips
    from `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    group by year
    order by year DESC

In [3]:
## This is fine too

In [2]:
query = """
    SELECT EXTRACT(YEAR FROM trip_start_timestamp) as year, COUNT(1) as num_trips
    from `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    group by 1
    order by 1 DESC
    """
print (query)

    SELECT EXTRACT(YEAR FROM trip_start_timestamp) as year, COUNT(1) as num_trips
    from `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    group by 1
    order by 1 DESC

---

### 4) Dive slightly deeper

You'd like to take a closer look at rides from 2017.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways:
1. Use a **WHERE** clause to limit the query to data from 2017.
2. Modify the query to extract the month rather than the year.

In [4]:
query = """
    SELECT EXTRACT(MONTH FROM trip_start_timestamp) as month, COUNT(1) as num_trips
    from `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    wher EXTRACT(YEAR FROM trip_start_timestamp) = 2017
    group by month
    order by month DESC
    """
print (query)

    SELECT EXTRACT(MONTH FROM trip_start_timestamp) as month, COUNT(1) as num_trips
    from `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    wher EXTRACT(YEAR FROM trip_start_timestamp) = 2017
    group by month
    order by month DESC